@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

header {
  position: fixed;
  z-index: 5;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  width: 100vw;
  background-color: rgb(1, 33, 169);
  padding: 0.2rem;
  z-index: 5;
}
header nav .profile {
  position: absolute;
  color: rgb(255, 255, 255);
  right: 5vmin;
  cursor: pointer;
  display: none;
}
@media (max-width: 1200px) {
  header nav .profile {
    display: block;
  }
}
header nav #hamburger {
  display: none;
}
header nav #hamburger:checked ~ .hamburger::before {
  transform: rotate(135deg);
}
header nav #hamburger:checked ~ .hamburger::after {
  transform: rotate(-135deg);
}
header nav #hamburger:checked ~ .hamburger {
  background: transparent;
}
header nav #hamburger:checked ~ .nav-list {
  top: 65px;
}
header nav .hamburger {
  background: white;
  height: 3px;
  width: 25px;
  border-radius: 5px;
  display: none;
  position: absolute;
  left: 5vmin;
  transition: 0.3s;
}
@media (max-width: 1200px) {
  header nav .hamburger {
    display: block;
  }
}
header nav .hamburger::before {
  content: "";
  background: white;
  height: 3px;
  width: 25px;
  border-radius: 5px;
  position: absolute;
  transform: translateY(-8px);
  transition: 0.3s;
}
header nav .hamburger::after {
  content: "";
  background: white;
  height: 3px;
  width: 25px;
  border-radius: 5px;
  position: absolute;
  transform: translateY(8px);
  transition: 0.3s;
}
header nav img {
  height: 3.5rem;
  cursor: pointer;
}
header nav .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}
header nav .nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  outline: none;
  position: relative;
  padding: 1.5rem 1rem;
  margin: 0 1rem;
  z-index: 3;
}
header nav .nav-list {
  display: flex;
  list-style: none;
  margin-left: 1rem;
  transition: 0.2s;
  z-index: 3;
}
header nav .checkbox {
  margin-left: 2rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  user-select: none;
}
header nav .nav-member {
  position: relative;
}
header nav .nav-member input {
  display: none;
}
header nav input:checked ~ .partner {
  display: none;
}
header nav .partner {
  position: absolute;
  right: 230px;
  bottom: -144px;
  display: flex;
  width: 145px;
  height: auto;
  flex-direction: column;
  background: rgb(1, 33, 169);
  color: rgb(255, 255, 255);
  gap: 0.8rem;
  padding-top: 0.5rem;
  cursor: pointer;
}
header nav .partner a {
  margin: 0;
  padding: 0.8rem;
}
header nav .partner a:hover {
  background: #123dff;
}
header nav .nav-sign {
  margin: 0 2rem;
  padding: 0.6rem 1rem;
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  color: rgb(1, 33, 169);
  text-decoration: none;
}
header nav .login {
  color: rgb(255, 255, 255);
  margin-left: 2rem;
  text-decoration: none;
}
header nav .fa-solid {
  margin-left: 0.3rem;
}
header nav .nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: rgb(255, 255, 255);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
header nav .nav-list a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media (max-width: 1200px) {
  header nav .nav-list {
    position: absolute;
    flex-direction: column;
    top: -265px;
    left: 0;
    margin: 0;
    background: rgb(1, 33, 169);
    padding: 2rem 0;
    width: 100%;
    font-size: 0.8rem;
    z-index: -1;
    gap: 3rem;
  }
  header nav .nav-member {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 100px;
    right: 80px;
    gap: 2rem;
    font-size: 0.8rem;
  }
  header nav .nav-member input {
    display: none;
  }
  header nav .nav-member label {
    display: none;
  }
  header nav .nav-member .login {
    margin-left: 35px;
  }
  header nav .nav-member .nav-sign {
    height: 1.8rem;
    width: 75%;
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 1rem 3rem;
  position: relative;
  height: 30rem;
  width: min(25rem, 100%);
  border-radius: 1rem;
  box-shadow: 15px 15px 50px rgba(70, 70, 70, 0.5);
}
section .container h3 {
  margin-bottom: 1rem;
}
section .container .input-email {
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.1rem;
  border: 1px solid rgb(153, 152, 152);
  outline: none;
  margin-bottom: 1rem;
}
section .container .input-email:focus ~ .label-email, section .container .input-email:valid ~ .label-email {
  top: 54px;
  font-size: 15px;
  left: 50px;
}
section .container .input-email:hover {
  border: 1px solid rgb(0, 0, 0);
}
section .container .input-email:focus {
  border: 1px solid rgb(0, 0, 0);
}
section .container .label-email {
  position: absolute;
  top: 90px;
  left: 65px;
  user-select: none;
  cursor: text;
  transition: 0.2s;
  color: rgb(110, 109, 109);
}
section .container .input-pass {
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.1rem;
  border: 1px solid rgb(153, 152, 152);
  outline: none;
  margin-bottom: 0.5rem;
}
section .container .input-pass:focus ~ .label-pass, section .container .input-pass:valid ~ .label-pass {
  top: 133px;
  font-size: 15px;
  left: 50px;
}
section .container .input-pass:hover {
  border: 1px solid rgb(0, 0, 0);
}
section .container .input-pass:focus {
  border: 1px solid rgb(0, 0, 0);
}
section .container .label-pass {
  position: absolute;
  top: 170px;
  left: 65px;
  user-select: none;
  cursor: text;
  color: rgb(110, 109, 109);
  transition: 0.2s;
}
section .container .remember {
  display: flex;
  align-items: center;
}
section .container .remember .input-rem {
  width: 15px;
  height: 15px;
}
section .container .remember .label-rem {
  margin-left: 5px;
}
section .container .login {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  outline: none;
  background: rgb(1, 33, 169);
  color: rgb(255, 255, 255);
  border-style: none;
  font-family: "Roboto";
  font-size: 14px;
  cursor: pointer;
}
section .container .login:hover {
  background: rgb(2, 26, 136);
}
section .container .login:active {
  background: rgb(3, 21, 104);
}
section .container .forgot-pass {
  margin-left: 180px;
  margin-top: -10px;
  font-size: 15px;
  text-decoration: none;
  color: rgb(110, 109, 109);
}
section .container .span {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
section .container .span::before {
  content: "";
  height: 2px;
  width: 45%;
  position: absolute;
  left: 0;
  background: rgb(110, 109, 109);
}
section .container .span::after {
  content: "";
  height: 2px;
  width: 45%;
  position: absolute;
  right: 0;
  background: rgb(110, 109, 109);
}
section .container .sign-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
section .container .sign-links .fa-google {
  border: 2px solid red;
  padding: 6px;
  border-radius: 50%;
  color: red;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
section .container .sign-links .fa-facebook-f {
  border: 2px solid rgb(24, 33, 163);
  padding: 6px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: rgb(24, 33, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
section .container .sign-links .fa-linkedin-in {
  border: 2px solid rgb(0, 17, 255);
  padding: 6px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: rgb(0, 17, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
section .container .need-signup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
section .container .need-signup a {
  color: black;
}

/*# sourceMappingURL=signin.css.map */
