@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$primary-color: rgba(1,33,169,255);
$white-color: rgb(255, 255, 255);
$black-color: #000;
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

